@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
}


.block {
    justify-content: center;
    display: grid;
    grid-template-columns: 269px 269px 269px;
    grid-column-gap: 32px;
    grid-row-gap: 130px;
}

.item .img {
    width: 237px;
    height: 180px;
    background: #F9F9F9;
    border-radius: 12px;
    margin: auto;
}

.block .item {
    background: #FFFFFF;
    border: 1px solid #d1d1d1;
    padding: 10px;

}

.block .item p{
    font: 400 12px 'Poppins';
    color: #575757; 
}

.block .item .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}


.block .item .btn {
    width: 90px;
    height: 36px;

    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;

    font: 700 15px 'Poppins';
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
    
}

@media screen and (max-width: 600px) {
    .block {
        grid-template-columns: 269px;
    }
    
}

