@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
}

body {

}

header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1260px;
    height: 130px;
    padding: 0px 80px;
}

header .img-logo {
    background-image: url("./img/Freshnesecom.svg");
    background-repeat: no-repeat;
    width: 177px;
    height: 18px;
}

header .input {
    display: flex;
    background: #F9F9F9;
    align-items: center;
    
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    width:500px;
    height:42px;
}

header .input .all-categories {
    margin-left: 16px;

    font: 700 15px 'Poppins';
    color: #151515;
}

header .input .line-input{
    border: 1px solid #D1D1D1;
    transform: rotate(90deg);
    width: 20px;
    height: 0px;
    margin-left: 48px;
}
header .input .search-product {

    color: #A9A9A9;
    font: 400 14px 'Poppins';
    margin-left: 24px;
    
}



section .banner {
    display: grid;
    justify-content: center;
    
    grid-gap: 31px;
    grid-template-columns: 420px 420px;
    margin-top: 112px;
    
    


}

.banner .item {
    background: #FFFFFF;
    border: 1px solid #d1d1d1;
    background-image: url("./img/Group\ 18.svg");
    border-radius: 12px;
    height: 280px;
    display: flex;
    flex-direction: column;
    
}

.banner .item p {
    font: 600 12px 'Poppins';;
    color: #6A983C;
    margin: 48px 0 0 33px;

}

.banner .item h2 {
    font: 600 22px 'Poppins';
    color: #151515;
    margin: 8px 0 0 33px;
}

.banner .item .banner-btn {
    
    width: 163px;
    height: 47px;
    margin: 93px 0 0 33px;



    border: 2px solid #92C064;
    border-radius: 12px;
}

.banner .item .banner-btn p {
    font: 700 15px 'Poppins';
    color: #151515;
    margin-top: -1px;
    
}

.block {
    justify-content: center;
    display: grid;
    grid-template-columns: 269px 269px 269px;
    grid-column-gap: 32px;
    grid-row-gap: 130px;
    margin-top: 128px;
}

.item .img {
    width: 237px;
    height: 180px;
    background: #F9F9F9;
    border-radius: 12px;
    margin: auto;
}

.block .item {
    background: #FFFFFF;
    border: 1px solid #d1d1d1;
    padding: 10px;

}

.block .item h3 {
    font: 500 15px 'Poppins';
    color: #151515;
}

.block .item p{
    font: 400 12px 'Poppins';
    color: #575757; 
}

.block .item .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.block .item .flex h2 {
    font:600 18px 'Poppins';
    color: #151515;
    
}


.block .item .btn {
    width: 90px;
    height: 36px;

    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;

    font: 700 15px 'Poppins';
    color: #FFFFFF;
    text-align: center;
    line-height: 36px;
}



@media screen and (max-width: 600px) {
    .block {
        grid-template-columns: 269px;
    }
    
}

